################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Git-version/FileContentIndex/0f9415d4-aac4-40c6-b4aa-cf6c29ad1060.vsidx
